/*
Author: Grupo HiFive
Description: RPM Tecnology Page
Version: 1
*/

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

/* RESET */
* {
    margin: 0;
    padding: 0;
    font-size: 100%;
    box-sizing: border-box;
}

/* ESTILIZAÇÃO HEADER */

.headerContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url(assets/african-american-woman-working-on-professional-development.jpg);
    background-size:contain ;
    /* padding: 1%; */
}

.header {
    
    background-color: rgba(255,255,255,0.1);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    gap: 30%;
    position: fixed;
    left: 0;
    right: 0;
    height: 10vh ;
}

.logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: none;
}

.logoIMG {
    width: 60px;
    height: 45px;
}

.navigation {
    display: flex;
}

.listNav {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    gap: 60px;
    list-style-type: none;
}

.listNav>li>a {
    text-decoration: none;
    color: black;
}

.listNav a {
    position: relative;
    color: #fff;
    text-decoration: none;
}

.listNav a:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 3px;
    bottom: 0;
    left: 0;
    background-color: #000;
    visibility: hidden;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
}

.listNav a:hover:before {
    visibility: visible;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
}

/* ESTILIZAÇÃO MENU HAMBURGUER*/
#checkbox-menu {
    position: absolute;
    opacity: 0;
}

label {
    cursor: pointer;
    position: relative;
    display: block;
    height: 22px;
    width: 30px;
}

label span {
    position: absolute;
    display: none;
    height: 5px;
    width: 100%;
    border-radius: 30px;
    background: black;
    transition: 0.3s ease-in-out;
}

label span:nth-child(1) {
    top: 0;
}

label span:nth-child(2) {
    top: 8px;
}

label span:nth-child(3) {
    top: 16px;
}

#checkbox-menu:checked+label span:nth-child(1) {
    transform: rotate(-45deg);
    top: 8px;
}

#checkbox-menu:checked+label span:nth-child(2) {
    opacity: 0;
}

#checkbox-menu:checked+label span:nth-child(3) {
    transform: rotate(45deg);
    top: 8px;
}
.introButton{
    margin-top: 8vh;
    min-width: 15vw;
    border: transparent;
    background-color: black;
    color: white;
    border-radius: 10px;
    padding: 10px;
    padding-left: 15%;
    padding-right: 15% ;
    font-size: 20px;
    font-weight: 600;
    cursor: pointer;
}

@media only screen and (max-device-width: 900px) {
    label span {
        position: absolute;
        display: block;
        height: 5px;
        width: 100%;
        border-radius: 30px;
        background: black;

    }

    .menu {
        display: flex;
    }

    .listNav {
        display: none;
    }

    #checkbox-menu:checked~.listNav {
        display: flex;
        flex-direction: column;
    }

    .navigation {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

}

/* ESTILIZAÇÃO PRIMEIRA SEÇÃO*/

#introSection {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 10%;
    /* border: solid red; */
    /* width: 1000vh; */
    padding: 10%;
    gap: 30px;
    word-wrap: break-word;
    /* background-color: blueviolet; */
    left: 0;
    right: 0;
}

body {
    margin: 0px;
    font-family: 'Roboto';
    overflow-x: hidden;
    box-sizing: border-box;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/*SEÇÃO 2: SERVIÇOS E SOLUÇÕES*/
.section_serv_solucoes {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80vw;
    margin-bottom: 30px;
}

.titulo_serv_solucoes {
    display: flex;
    justify-content: center;
}

.subtitulo_serv_solucoes {
    display: flex;
    justify-content: center;
    font-weight: 400;
    margin-bottom: 50px;
}

.container_cards {
    display: flex;
    flex-direction: row;
    gap: 30px;
}

.card_serv_solucoes {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 266px;
    cursor: pointer;
    background-color: rgb(208, 208, 208);
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0px 10px 20px #0000006f;

}

.card_serv_solucoes>h3 {
    display: flex;
    justify-content: center;
    width: 30px;
    text-align: center;
}

.descricao_desenvolvimento {
    margin-top: 30px;
    margin-bottom: 50px;
}

.descricao_desenvolvimento>p {
    margin: 4px;
    font-weight: 600;
}

.btn_faleconosco {
    min-width: 15vw;
    border: transparent;
    background-color: black;
    color: white;
    border-radius: 10px;
    padding: 10px;
    font-size: 20px;
    font-weight: 600;
    cursor: pointer;
}

.card_serv_solucoes:hover>[class*=btn_faleconosco] {
    background-color: #ffffff;
    color: #000000;
}

.card_serv_solucoes:hover {
    background-color: #000000;
    color: white;
}

/*SEÇÃO 3: SLIDE*/ 
.section_slide{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80vw;
    background-color: rgb(208, 208, 208);
}
.titulo_slide {
    margin-top: 40px;
    display: flex;
    justify-content: center;
}

/* Slideshow container */
.slideshow-container {
    width: 80%;
    position: relative;
    padding: 60px;
    margin: auto;
  }
  
.cards {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 3vw;
  }

.cards > img {
    max-height: 30vh;
    max-width: 15vw;
}
/* Hide the images by default */
.mySlides {
    display: none;
}

/* Next & previous buttons */
/* .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: rgb(0, 0, 0);
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
} */

/* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
}

/* The dots/bullets/indicators */
.box_dot {
    margin-top: 50px;
}
.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active, .dot:hover {
    background-color: #000000;
}

/* Fading animation */
.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}

/*SEÇÃO 4: RESULTADOS E METAS */
.section_resultadosmetas {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80vw;
}

.titulo_resultadosmetas {
    display: flex;
    justify-content: center;
}

.subtitulo_resultadosmetas {
    display: flex;
    justify-content: center;
    width: 45vw;
    font-weight: 400;
    margin-bottom: 50px;
}

.box_resultadosmetas {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;
    gap: 150px;
}

.box_resultadosmetas>h1 {
    width: 22vw;
}


/*FOOTER */
footer {
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 100vw;
    background-color: black;
}

.container_footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 20px;
    width: 60vw;
    gap: 30px;
}

.footer_left {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    flex-wrap: wrap;
    justify-content: center;
}

.footer_left p {
    margin-bottom: 5px;
}

.footer_center {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 150px;
    padding-right: 150px;
    border-left: 1px solid white;
    border-right: 1px solid white;
}

.endereco {
    margin-top: 0px;
}

.redes_sociais {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 30px;
    justify-content: space-around;
}

.redes_sociais>i {
    font-size: 25px;
    cursor: pointer;
}

.footer_right {
    display: flex;
    flex-direction: column;
    
}
.footer_right p{
    margin-top: 5px;
}
.box_copyright {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    width: 60vw;
    border-top: 1px solid white;
}

footer a {
    text-decoration: none;
    color: white;
}


/*Celular*/
@media (max-width: 600px) {

    /*SEÇÃO SERVIÇOS E SOLUÇÕES*/
    .titulo_serv_solucoes {
        text-align: center;
    }

    .subtitulo_serv_solucoes {
        width: 80vw;
    }

    .container_cards {
        flex-direction: column;
    }

    /*SEÇÃO RESULTADOS E METAS */
    .titulo_resultadosmetas {
        text-align: center;
    }

    .subtitulo_resultadosmetas {
        text-align: center;
        width: 80vw;
    }

    .box_resultadosmetas {
        gap: 70px;
    }

    .box_resultadosmetas>h1 {
        display: flex;
        justify-content: center;
        text-align: center;
    }

    .box_resultadosmetas>img {
        width: 90px;
    }

    .box_resultadosmetas>h1 {
        font-size: 17px;
    }

    /*footer*/
    .container_footer {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .footer_left {
        flex-direction: row;
        width: 80vw;
        gap: 20px;
        text-align: center;
        
    }

    .footer_center {
        padding-left: 0px;
        padding-right: 0px;
        padding-top: 10px;
        padding-bottom: 20px;
        border-left: 0px;
        width: 80vw;
        border-right: 0px white;
        border-top: 1px solid white;
        border-bottom: 1px solid white;
    }

    .box_copyright {
        width: 80vw;
    }
}


/*Tablets*/
@media (max-width: 980px) and (min-width: 600px) {

    /*SEÇÃO SERVIÇOS E SOLUÇÕES*/
    .subtitulo_serv_solucoes {
        text-align: center;
    }

    .container_cards {
        flex-wrap: wrap;
        justify-content: center;
    }

    /*SEÇÃO RESULTADOS E METAS*/
    .subtitulo_resultadosmetas {
        text-align: center;
        width: 80vw;
    }

    /*footer*/
    .container_footer {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .footer_left {
        flex-direction: row;
        gap: 30px;
    }

    .footer_center {
        padding-left: 0px;
        padding-right: 0px;
        padding-top: 10px;
        padding-bottom: 20px;
        border-left: 0px;
        width: 80vw;
        border-right: 0px white;
        border-top: 1px solid white;
        border-bottom: 1px solid white;
    }

    .box_copyright {
        width: 80vw;
    }
}